version: "3.8"
services:
        messaging:
                image: 'rabbitmq:3.8.8-management'
                ports: 
                        - 15672:15672
        adminer:
                image: adminer
                ports:
                        - 8080:8080
        db:                
                image: 'postgres' 
                environment:
                        POSTGRES_PASSWORD: 'example'


        frontend:
                build: frontend/
                ports:
                        - 5000:5000
        backend:
                build: backend/